{% extends 'shared/component.html' %}

{% block side_bar %}
    <div id="side-bar">
        <ul class="main-list">
            <li id="ml1" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-image"></i>
                     Scene 1
                 </span>
                <ul class="sub-list">
                    <li><a href="{{ url_for('page',page_name='video') }}"><i class="fa fa-video-camera"></i>Camera monitoring</a></li>
                    <li><a href="{{ url_for('page',page_name='trajectory') }}"><i class="fa fa-bug"></i>Anomaly detection</a></li>
                    <li><a href="{{ url_for('page',page_name='track') }}"><i class="fa fa-arrows-v"></i>Trajectory analytics</a></li>
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
            <li id="ml2" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-image"></i>
                     Scene 2
                 </span>
                <ul class="sub-list">
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
            <li id="ml3" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-image"></i>
                     Scene 3
                 </span>
                <ul class="sub-list">
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
            <li id="ml4" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-image"></i>
                     Scene 4
                 </span>
                <ul class="sub-list">
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='javascripts/dashboard/init.js') }}"></script>
{% endblock %}