{% extends 'shared/component.html' %}

{% block nav_bar %}
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" id="side-bar-toggle"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">EMC</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block side_bar %}
    <div id="side-bar">
        <ul class="main-list">
            <li id="ml2" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-bug"></i>
                     Anomaly detection
                 </span>
                <ul class="sub-list">
                    <li><a href="{{ url_for('page',page_name='track') }}">Scene 1</a></li>
                    <li>Scene 2</li>
                    <li>Scene 3</li>
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
            <li id="ml3" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-video-camera"></i>
                     Camera monitoring
                 </span>
                <ul class="sub-list">
                    <li><a href="{{ url_for('page',page_name='video') }}">Camera 1</a></li>
                    <li>Camera 2</li>
                    <li>Camera 3</li>
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
            <li id="ml4" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-arrows-v"></i>
                     Trajectory analytics
                 </span>
                <ul class="sub-list">
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
            <li id="ml1" class="ml">
                 <span class="ml-content">
                     <i class="fa fa-bar-chart-o"></i>
                     Charts
                 </span>
                <ul class="sub-list">
                    <li><a href="{{ url_for('page',page_name='charts') }}"> Pie chart</a></li>
                    <li><a href="{{ url_for('page',page_name='charts') }}">Area chart</a></li>
                </ul>
                <hr class="hr-top">
                <hr class="hr-bot">
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
{% endblock %}