/* line 1, camera.scss */
.ext-panel {
  display: none; }

/* line 5, camera.scss */
.loading-panel {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  /* line 13, camera.scss */
  .loading-panel.hide {
    display: none; }
  /* line 16, camera.scss */
  .loading-panel.dis {
    display: table; }
  /* line 19, camera.scss */
  .loading-panel > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
