/* line 2, ../sass/chart.scss */
.pieChart circle, .pieChart path {
  cursor: pointer;
}
/* line 6, ../sass/chart.scss */
.pieChart circle {
  fill: none;
  pointer-events: all;
}

/* line 12, ../sass/chart.scss */
.areaChart {
  font: 10px sans-serif;
}

/* line 17, ../sass/chart.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* line 23, ../sass/chart.scss */
.area {
  fill: steelblue;
}
