/* line 13, custom.scss */
body .navbar-custom {
  z-index: 10; }
/* line 16, custom.scss */
body .side-bar {
  z-index: 5; }

/* line 22, custom.scss */
.navbar-custom {
  background-color: #034482;
  border-color: #034482; }
  /* line 27, custom.scss */
  .navbar-custom .container-fluid > .navbar-header > a {
    color: #ffffff; }
    /* line 29, custom.scss */
    .navbar-custom .container-fluid > .navbar-header > a:hover, .navbar-custom .container-fluid > .navbar-header > a:focus {
      background-color: #033462; }
  /* line 36, custom.scss */
  .navbar-custom .container-fluid .navbar-nav > li > a {
    color: #ffffff; }
    /* line 38, custom.scss */
    .navbar-custom .container-fluid .navbar-nav > li > a:hover, .navbar-custom .container-fluid .navbar-nav > li > a:focus {
      background-color: #033462; }

/* line 47, custom.scss */
#side-bar {
  background-color: #eeeeee;
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0; }
  /* line 53, custom.scss */
  #side-bar li {
    list-style: none;
    cursor: pointer; }
  /* line 57, custom.scss */
  #side-bar .main-list {
    padding: 0;
    margin-top: 50px; }
    /* line 60, custom.scss */
    #side-bar .main-list > li {
      padding-top: 20px;
      color: #222222; }
      /* line 63, custom.scss */
      #side-bar .main-list > li > .ml-content {
        font-size: 1.2em;
        padding: 0 30px; }
      /* line 67, custom.scss */
      #side-bar .main-list > li:hover {
        background-color: #333333;
        color: #cccccc; }
      /* line 71, custom.scss */
      #side-bar .main-list > li hr {
        margin: 0; }
        /* line 73, custom.scss */
        #side-bar .main-list > li hr.hr-top {
          margin-top: 20px;
          border-color: #ffffff; }
        /* line 77, custom.scss */
        #side-bar .main-list > li hr.hr-bot {
          border-color: #AAAAAA; }
    /* line 82, custom.scss */
    #side-bar .main-list .sub-list {
      display: none;
      background-color: #dddddd;
      margin-top: 20px;
      padding: 0; }
      /* line 87, custom.scss */
      #side-bar .main-list .sub-list > li {
        color: #222222;
        padding: 10px 0 10px 40px; }
        /* line 90, custom.scss */
        #side-bar .main-list .sub-list > li:hover {
          background-color: #333333;
          color: #ffffff; }

/* line 100, custom.scss */
#chart-area {
  margin: 0 auto 0 260px;
  background-color: white; }
