{% extends 'shared/dashboard.html' %}
{% block content %}
<!-- Content Begin -->
    <div class="row" id="chart-area">
        <div class="col-md-4 col-sm-6 wall">
            <div class="embed-responsive embed-responsive-4by3">
                <object id="monitor1" class="embed-responsive-item">
                </object>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wall">
            <div class="embed-responsive embed-responsive-4by3">
                <object id="monitor2" class="embed-responsive-item">
                </object>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wall">
            <div class="embed-responsive embed-responsive-4by3">
                <object id="monitor3" class="embed-responsive-item">
                </object>
            </div>
        </div>
    </div>
    <script>
        var elements=function() {
            DashBoard.Video(document.getElementById('monitor1'), 'test1', 'liveVideo',{live:true}).enableUpdate();
            DashBoard.Video(document.getElementById('monitor2'), '/static/resource/bjcf_road.flv','file1').enableUpdate();
        }
    </script>
{% endblock %}